/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/remodal/dist/remodal.css ***!
  \*****************************************************************************************/
/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/remodal/dist/remodal-default-theme.css ***!
  \*******************************************************************************************************/
/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/index.scss ***!
  \**********************************************************************************************************************************************************/
/**
  * Fonts
  */
/**
  * Colors
  *
  */
/**
  * Breakpoints
  */
/**
  * Sizes
  */
/**
  * Z-index
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
  color: rgba(10, 43, 55, 0.8);
  background-color: #F7F7FE;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0; }

video {
  width: 100%; }

img {
  display: block; }

.is-hidden {
  display: none !important; }

.no-scroll {
  overflow: hidden;
  height: 100%; }

h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 1; }

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.33333; }

h3 {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
  font-size: 1rem;
  line-height: 1.375; }

p {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
  font-size: 1rem;
  line-height: 1.375; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

ul:not([class]),
ol {
  padding-left: 2.25rem;
  font-size: 1rem;
  line-height: 1.375; }
  ul:not([class]):first-child,
  ol:first-child {
    margin-top: 0; }
  ul:not([class]):last-child,
  ol:last-child {
    margin-bottom: 0; }

.remodal {
  margin-bottom: 0; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem; }
  @media (min-width: 768px) {
    .container {
      padding-right: 1.25rem;
      padding-left: 1.25rem; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 85.375rem; } }

.icon {
  display: block;
  cursor: pointer;
  fill: currentColor;
  color: currentColor; }
  .icon:hover {
    color: rgba(95, 117, 216, 0.5); }

.header {
  background-color: #ffffff; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5.125rem;
    padding: 1rem 0; }
  .header__logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 16px; }
  .header__link {
    display: block;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%; }
  .header__title {
    margin: 0;
    margin-left: 1rem;
    white-space: nowrap; }
  .header__profile {
    width: 12.5rem; }
  .header__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 20%; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item {
  margin-right: 2.5rem; }
  .nav__item:last-of-type {
    color: #775CD9;
    margin-right: 0; }

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .profile__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 1rem; }
    .profile__user-text {
      display: block;
      overflow: hidden;
      text-align: right;
      width: 7rem;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .profile__avatar-inner {
    position: relative;
    display: block;
    overflow: hidden;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%; }
  .profile__avatar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover; }

.logo__image {
  width: 3.125rem;
  height: 3.125rem; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.link {
  cursor: pointer;
  text-underline: none;
  text-decoration: none;
  color: #101828;
  -webkit-tap-highlight-color: transparent; }
  .link:hover {
    color: rgba(119, 92, 217, 0.8); }

.content__gap {
  height: 21.25rem;
  background-color: #f2f2f2; }

.content__page {
  margin: 2rem 0; }

.content__navigation {
  margin-top: 2rem; }

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tabs__item {
  margin-right: 1rem; }
  .tabs__item:last-child {
    margin: 0; }

.tabs__block {
  display: none; }
  .tabs__block.is-active {
    display: block; }

.card {
  overflow: hidden;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff; }
  .card:hover .card__header-shadow {
    opacity: 0; }
  .card:hover .card__content-header {
    color: #775CD9; }
  .card:hover .card__content-description {
    color: #775CD9; }
  .card__link {
    display: block;
    text-decoration: none;
    color: #101828; }
  .card__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column; }
  .card__header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12.5rem; }
    .card__header-link {
      position: absolute;
      top: 0;
      right: 0; }
    .card__header-image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -o-object-fit: cover;
         object-fit: cover; }
    .card__header-shadow {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      opacity: .3;
      background-color: #101828; }
  .card__content {
    padding: 1.25rem 1.25rem; }
    .card__content-header {
      margin-bottom: 1rem; }
    .card__content-link {
      display: inline-block;
      margin-bottom: 20px; }
    .card__content-description {
      display: block;
      overflow: hidden;
      max-height: 7.8125rem;
      height: 100%;
      min-height: 7.8125rem; }
  .card__delimiter {
    position: absolute;
    top: -1.25rem;
    width: 100%;
    height: 0.0625rem;
    background-color: #C7C7DD;
    opacity: .3; }
  .card__footer {
    font-size: 0.875rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
    color: #C7C7DD; }

.courses__block {
  margin: 2rem 0; }

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  margin: -1rem; }

.courses__item {
  width: 100%; }
  @media (min-width: 768px) {
    .courses__item {
      width: 50%; } }
  @media (min-width: 1280px) {
    .courses__item {
      width: 33.33333%; } }
  .courses__item-card {
    position: relative;
    margin: 1rem; }

.button {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 0.3125rem;
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .button:hover {
    color: #775CD9; }
  .button--empty {
    background-color: transparent; }
  .button--default {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    min-width: 7.5rem;
    padding: 0.625rem 1.25rem;
    color: #775CD9;
    border: 0.0625rem solid #C7C7DD;
    border-radius: 1.5rem;
    background-color: #ffffff; }
    .button--default:hover, .button--default:active {
      color: #ffffff;
      border: 0.0625rem solid rgba(95, 117, 216, 0.1);
      background-color: rgba(95, 117, 216, 0.5); }
    .button--default.is-active {
      color: #ffffff;
      border: 0.0625rem solid #5F75D8;
      background: #5F75D8; }
    .button--default.is-disabled {
      cursor: default;
      color: #575d68;
      border: 0.0625rem solid #e7e7e7;
      background: #e7e7e7; }
  .button--default .button__icon {
    pointer-events: none; }
  .button__icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem; }

.title {
  margin: 0;
  padding: 0; }
  .title--medium {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600; }
  .title--bold {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }

.modal {
  position: relative;
  padding: 2.1875rem 2.5rem;
  border-radius: 0.3125rem; }
  .modal--auth {
    max-width: 21.875rem; }
  .modal__header {
    margin-bottom: 2.5rem; }
  .modal__button {
    margin: 2.5rem auto 0; }
  .modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #101828; }
  .modal__icon {
    width: 1.25rem;
    height: 1.25rem; }

.form__field {
  margin-bottom: 1rem; }
  .form__field:last-of-type {
    margin-bottom: 0; }

.form-field {
  position: relative; }
  .form-field.is-active .form-field__label {
    -webkit-transform: translate(0, 3px) scale(0.7);
            transform: translate(0, 3px) scale(0.7); }
  .form-field--search .form-field__label {
    left: 3.5rem;
    color: #C7C7DD; }
  .form-field--search .form-field__input {
    padding: 0 3.5rem;
    border: none;
    border-radius: 1.25rem;
    background-color: #ffffff; }
  .form-field--search .form-field__icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #775CD9; }
  .form-field--search .form-field__button {
    position: absolute;
    top: 25%;
    left: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0; }
  .form-field__inner {
    position: relative; }
  .form-field__label {
    font-size: 0.875rem;
    position: absolute;
    top: 0;
    left: 1rem;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform: translate(0, 16px) scale(1);
            transform: translate(0, 16px) scale(1);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    white-space: nowrap;
    pointer-events: none;
    color: #101828; }
  .form-field__input {
    font-size: 0.875rem;
    line-height: 1;
    width: 100%;
    height: 2.9375rem;
    padding: 1rem;
    padding-right: 2.5rem;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border: 0.0625rem solid #C7C7DD;
    border-radius: 0.3125rem;
    outline: 0;
    background-color: transparent; }
    .form-field__input:hover {
      border-color: #C7C7DD; }
    .form-field__input:focus {
      border-color: #5F75D8; }
  .form-field__clear-icon {
    width: 1rem;
    height: 1rem; }
  .form-field__clear-button {
    position: absolute;
    top: 1rem;
    right: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent; }

.navigation {
  width: 100%; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row; }
  .navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.25rem; }
    .navigation__item:first-of-type {
      margin-left: 0; }

.cabinet__header {
  position: relative;
  height: 20rem;
  background-color: #c4c4c4; }
  .cabinet__header-banner {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.cabinet__profile-block {
  margin-top: 3.5rem; }

.profile-block__card {
  overflow: visible;
  overflow: initial;
  width: 50%;
  height: 20rem; }

.profile-block__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1.5rem; }

.profile-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  width: 100%; }

.profile-block__avatar {
  position: relative;
  display: block;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 9.375rem;
  height: 9.375rem;
  margin-right: 2.5rem;
  border-radius: 50%; }
  .profile-block__avatar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover; }

.profile-block__edit-button {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem; }

.profile-block__icon {
  width: 1.75rem;
  height: 1.75rem; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .page__content {
    width: 100%;
    min-height: 45rem;
    margin-left: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    background-color: #ffffff; }
    .page__content--course {
      width: 78%;
      margin-left: auto; }
  .page__aside {
    font-size: 0.875rem;
    width: 23.75rem;
    border-radius: 1.5rem;
    background-color: #ffffff; }

.side-menu {
  position: sticky;
  top: 1.5625rem;
  width: 18%;
  max-width: 15.625rem; }
  .side-menu__item {
    padding: 1rem;
    border-bottom: 0.0625rem solid #F7F7FE; }
    .side-menu__item:last-child {
      border: none; }

.course__nav {
  margin: 1.25rem 0; }
  .course__nav-item {
    margin: 0; }
    .course__nav-item:last-of-type {
      color: #775CD9; }
  .course__nav-span {
    width: 0.3125rem;
    height: 0.3125rem;
    margin: 0 0.75rem;
    border-radius: 50%;
    background-color: #775CD9; }

@font-face {
  font-family: 'Roboto Bold';
  src: url(../120fa8336712cec94e6f.ttf);
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url(../856b5674af3d307ddfb8.ttf);
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url(../a620d73f65c1c92f51f0.ttf);
  font-style: normal; }

