.content {
  &__gap {
    height: rem(340px);

    background-color: $lightGray;
  }

  &__page {
      margin: rem($offset-l) 0;
  }

  &__navigation {
    margin-top: rem($offset-l);
  }

  &__header {
    display: flex;
    align-items: center;
  }
}