.courses {
  &__block {
    margin: rem($offset-l) 0;
  }

  &__list {
    display: flex;
    flex-flow: wrap row;

    margin: rem(-$offset);
  }

  &__item {
    width: percentage(1 / 1);

    @media #{$media-min-tablet} {
      width: percentage(1 / 2);
    }

    @media #{$media-min-desktop-lg} {
      width: percentage(1 / 3);
    }

    &-card {
       position: relative;

       margin: rem($offset);
    }
  }
}