.modal {
  position: relative;

  padding: rem(35px) rem(40px);

  border-radius: rem($border-radius-default);

  &--auth {
    max-width: rem(350px);
  }

  &__header {
    margin-bottom: rem($offset-xl);
  }

  &__button {
    margin: rem($offset-xl) auto 0;
  }

  &__close {
    position: absolute;
    top: rem($offset);
    right: rem($offset);

    display: flex;
    justify-content: center;

    color: $deepBlue;
  }

  &__icon {
    width: rem(20px);
    height: rem(20px);
  }
}