.nav {
  &__list {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
  }

  &__item {
    margin-right: rem($offset-xl);

    &:last-of-type {
      color: $medium-purple;
      margin-right: 0;
    }
  }
}